body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
}

#background
{
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}

.stretch
{
    width:100%;
    height:100%;
}


fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size:1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.card
{
    font-family : Palatino Linotype, Serif;
    background: url(maple.jpg);
    color: #AD9454;
    font-size: 2em;

    text-shadow: 2px 2px 0px #FFE7AD;
    filter: dropshadow(color=#FFE7AD,offX=2,offY=2);

    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;

    text-align: center;
    vertical-align: middle;

    border: outset;
    -moz-border-radius: 6px;
    border-radius: 6px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.card .operator
{
    font-weight: bold;
    margin: 20px;
}

.card .descriptor
{
    line-height: 13px;
}

.card .variable
{
    font-size: 24pt;
    line-height: 80px;
}

.card .corners
{
    position: relative;
    height: 100%;
    line-height: 14pt;
    font-size: 12pt;
}

.card .corner1
{
    position: absolute;
    left: 10px;
    top: 10px;
    font-weight: bold;
}

.card .corner2
{
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
}

.card .corner3
{
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-weight: bold;
}

.card .corner4
{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: bold;
}

.card .wild
{
    text-align: center;
    font-size: 14pt;
    line-height: 80px;
}

.card .exsculpo
{
    display: block;
    font-size: 12pt;
    line-height: 80px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.card .parens
{
    font-size: 28pt;
    line-height: 80px;
}

.card .ergo
{
    position: absolute;
    bottom: 20px;
    left: 5.5px;
    font-size: 12pt;
    line-height: 12pt;
}

.card .ergosymbol
{
    position: absolute;
    line-height: 24pt;
    top: 10px;
    left: 28px;
    font-weight: bold;
}
