@model Therefore.Game.Game
@{
    ViewBag.Title = "Play";
}
@section intellisense
{
    <script src="../../Scripts/jquery-1.4.4-vsdoc.js" type="text/javascript"></script>
}
@section headers
{
}
<h2>Play</h2>
The current player is @Model.CurrentPlayer.
<div>
@foreach (var premise in Model.Proof)
{
    <div>
    @foreach (var card in premise)
    {
        Html.RenderPartial("Card", card);
    }
    </div>
}
</div>

<ul>
@foreach (var playerId in Model.PlayerIds)
{
    <li>@playerId (score @Model.Scores[playerId])
        <div>
        @foreach (var card in @Model.Hands[playerId])
        {
            Html.RenderPartial("Card", card);
        }
        </div>
    </li>
}
</ul>

<div id="background">
    <img src="@Url.Content("~/Content/dark-wood-1.jpg")" class="stretch" alt="" />
</div>

