@model Therefore.Game.Game
@{
    ViewBag.Title = "Play";
}
@section intellisense
{
    <script src="../../Scripts/jquery-1.4.4-vsdoc.js" type="text/javascript"></script>
}
@section headers
{
}
<h2>Play</h2>
